.comm{color:#8e908c;}
.hd{color:#dddddd; font-weight:bold;}
.tag{color:#DA0863; font-weight:bold;}
.attr{color:#C0EA19; font-weight:normal;}
.value{color:#E5D76A; font-weight:normal;}
.plain{color:#dddddd;}
.prettyprint {
  padding: 0px 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border-top: 1px solid #000;
  line-height: 10px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #282B23, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #282B23, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #282B23, inset 41px 0 0 #000000;
  background-color: #282B23;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ol.linenums {
  margin: 0 0 0 40px;
  color: #999;
}
ol.linenums li {
  padding-left: 12px;
  line-height: 20px;
  text-shadow: 0 1px 0 #363636;
}